%head
  %title Blog
%body
  %header
    %h1
      Blog

  %a{:href => "/new_post"}Create a new post!

  %h2 Latest Posts

  - @@blog.posts.each do |post|
    %h3
      #{post.title}
    %p
      #{post.date.strftime("%F")}
    %p
      #{post.preview}
    %a{:href => "/post/#{post.id}" } See all
    %p -------------
